<html>
<body>
<div id="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col">
        <div class="col">
            <div class="row">
                <app-dev-card class="app-dev-card"></app-dev-card>
                <div class="col">
                    <mat-card class="card1">
                        <mat-card-header>
                            <mat-card-title><h2>Projects</h2></mat-card-title>
                            <mat-card-subtitle class="sub">A collection of my favorite works</mat-card-subtitle>
                        </mat-card-header>
                        <br>
                        <mat-card-content>
                            <br>
                            <br>
                            <br>
                        </mat-card-content>
                        <div class="overlay">
                            <a class="overlay-text" routerLink="/projects" routerLinkActive="active">Open Project
                                Gallery</a>
                            <div class="overlay-icon">
                                <img alt="forward" height="15"
                                     src="https://img.icons8.com/color/15/forward.png"
                                     width="15"/>
                            </div>
                        </div>
                    </mat-card>
                    <div class="row">
                        <mat-card class="card2">
                            <mat-card-content>
                                <img alt="Profile" class="profile"
                                     src="https://avatars.githubusercontent.com/u/89455522?s=96&v=4">
                                <h3>JEFINO</h3>
                                <button mat-flat-button>Connect</button>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="card3">
                            <mat-card-content>
                                <div class="contact-container">
                                    <p>Contact</p>
                                    <div class="circle"></div>
                                    <div class="circle1"></div>
                                    <div class="circle3"></div>
                                    <div class="circle4"></div>
                                    <div class="image-container">
                                        <img alt="twitterx--v1" height="50"
                                             src="https://img.icons8.com/ios-filled/50/twitterx--v1.png"
                                             width="50"/>
                                        <img alt="instagram-new--v1" height="48"
                                             src="https://img.icons8.com/color/48/instagram-new--v1.png"
                                             width="48"/>
                                        <img alt="discord-logo" height="48"
                                             src="https://img.icons8.com/fluency/48/discord-logo.png"
                                             width="48"/>
                                        <img alt="whatsapp--v1" height="48"
                                             src="https://img.icons8.com/color/48/whatsapp--v1.png" width="48"/>
                                        <img alt="telegram-app--v1" height="48"
                                             src="https://img.icons8.com/color/48/telegram-app--v1.png"
                                             width="48"/>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col">
                <mat-card class="card4" id="card">
                    <div class="expanding-circle"></div>
                    <div class="expanding-circle"></div>
                    <mat-card-content>
                        <img alt="Profile" class="profile1"
                             src="https://avatars.githubusercontent.com/u/89455522?s=96&v=4">
                        <h3>Connections</h3>
                        <p class="sub">An ever-envolving list of peoples</p>
                        <p class="sub">I have met and wish to meet.</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div class="learn">
    <button routerLink="/page" id="learn" mat-flat-button>Learn more</button>
</div>
<div class="page">
    <div class="profile-card">
        <img src="https://avatars.githubusercontent.com/u/89455522?s=96&v=4" alt="Profile Photo" class="profile-photo">
        <h2 class="name">JEFINO</h2>
        <p class="bio">HI there Its Jefino. Currently, I'm pursuing B.Tech in Artificial Intelligence & Data Science.Here are few stuff to explore.</p>
        <div class="icons">
            <a href="https://github.com/Jefino9488" target="_blank" class="icon icon-1"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/jefino9488" target="_blank" class="icon icon-2"><i class="fab fa-linkedin"></i></a>
            <a href="https://t.me/Jefino9488" target="_blank" class="icon icon-3"><i class="fab fa-telegram"></i></a>
        </div>
        <div class="sub-cards">
            <div class="sub-card rect" id="rect-0-1">
                <div class="sub-card-content">
                    <h3 class="sub-card-title">Projects</h3>
                    <p class="sub-card-texts">A collection of my favorite works</p>
                </div>
            </div>
            <div class="sub-card square" id="square-0-2">
                <div class="sub-card-content">
                    <h3 class="sub-card-title">Connections</h3>
                    <p class="sub-card-text">A list of peoples I have met and wish to meet.</p>
                </div>
            </div>
            <div class="sub-card square" id="square-1-1">
                <div class="sub-card-content">
                    <h3 class="sub-card-title">Contact</h3>
                    <p class="sub-card-text">Reach out to me on any of the following platforms.</p>
                </div>
            </div>
            <div class="sub-card rect" id="rect-1-2">
                <div class="sub-card-content">
                    <h3 class="sub-card-title">Learn More</h3>
                    <p class="sub-card-texts">Find out more about me and my work.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>