@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing  : border-box;
    font-family : Inter, sans-serif;
    margin      : 0;
    padding     : 0;
}

body {
    align-items     : center;
    background      : #47289d;
    display         : flex;
    justify-content : center;
    min-height      : 100vh;
}

.wrapper {
    align-content   : center;
    display         : flex;
    flex-wrap       : wrap;
    gap             : 24px;
    height          : 100%;
    justify-content : center;
    padding         : 20px;
    position        : relative;
    width           : 100%;
}

.card {
    background    : #000;
    border-radius : 18px;
    box-shadow    : 0 5px 10px rgba(0, 0, 0, .2);
    height        : 450px;
    overflow      : hidden;
    position      : relative;
    width         : 325px;
}

.poster {
    height   : 100%;
    left     : 0;
    overflow : hidden;
    position : relative;
    top      : 0;
    width    : 100%;
}

.poster::before {
    bottom     : -45%;
    content    : '';
    height     : 100%;
    left       : 0;
    position   : absolute;
    transition : .3s;
    width      : 100%;
    z-index    : 1;
}

.card:hover .poster::before {
    bottom : 0;
}

.poster img {
    height     : 100%;
    left       : 0;
    max-height : 100%;
    object-fit : contain;
    position   : absolute;
    top        : 0;
    transition : .3s;
    width      : 100%;
}

.card:hover .poster img {
    transform : scale(1.1);
}

.details {
    backdrop-filter : blur(16px) saturate(120%);
    background      : #000a;
    bottom          : -100%;
    color           : #fff;
    height          : auto;
    left            : 0;
    padding         : 1.5em 1.5em 2em;
    position        : absolute;
    transition      : .3s;
    width           : 100%;
    z-index         : 2;
}

.card:hover .details {
    bottom : 0;
}

.details h1,
.details h2 {
    font-weight : 700;
}

.details h1 {
    font-size     : 1.5em;
    margin-bottom : 5px;
}

.details h2 {
    font-size     : 1em;
    font-weight   : 400;
    margin-bottom : 10px;
    opacity       : .6;
}

.details .rating {
    display       : flex;
    gap           : .25em;
    margin-bottom : 15px;
    position      : relative;
}

.details .rating i {
    color : #e3c414;
}

.details .rating span {
    margin-left : 0.25em;
}

.details .tags {
    display       : flex;
    font-size     : .85em;
    gap           : .375em;
    margin-bottom : .875em;
}

.details .tags span {
    border        : 1.5px solid rgba(255 255 255 / 0.4);
    border-radius : 4px;
    border-radius : 50px;
    color         : #fff;
    padding       : .35rem .65rem;
}

.details .desc {
    color         : #fff;
    line-height   : 1.5;
    margin-bottom : 1em;
    opacity       : .8;
}

.details .cast h3 {
    margin-bottom : .5em;
}

.details .cast ul {
    display   : flex;
    flex-wrap : wrap;
    gap       : 0.625rem;
    position  : relative;
    width     : 100%;
}

.details .cast ul li {
    border        : 1.5px solid #fff;
    border-radius : 50%;
    height        : 55px;
    list-style    : none;
    overflow      : hidden;
    width         : 55px;
}

.details .cast ul li img {
    height : 100%;
    width  : 100%;
}


