.navbar {
    backdrop-filter  : blur(10px);
    background-color : rgba(255, 255, 255, 0.5);
    border-radius    : 15px;
    box-shadow       : 0 1px 5px rgba(176, 138, 138, 0.1);
    color            : white;
    left             : 0;
    margin           : 10px;
    padding          : 15px 0;
    position         : fixed;
    right            : 0;
    top              : 0;
    z-index          : 1000;
}

.navbar-container {
    align-items     : center;
    display         : flex;
    justify-content : space-between;
    margin          : 0 auto;
    max-width       : 1500px;
    padding         : 0 20px;
}

.brand {
    align-items     : center;
    display         : flex;
    font-size       : 34px;
    font-weight     : bold;
    justify-content : space-between;
}

.nav-list {
    display         : flex;
    list-style-type : none;
    margin          : 0;
    padding         : 0;
}

.nav-list li {
    margin-right : 20px;
}

.nav-list a {
    color           : white;
    font-size       : 1.2em;
    font-weight     : bold;
    text-decoration : none;
    transition      : color 0.3s ease;
}

.nav-list a:hover {
    color : #59596c;
}

.active {
    border-bottom : 2px solid #000000;
}

.logo {
    border        : 2px solid #59596c;
    border-radius : 50%;
    height        : 50px;
    margin-right  : 10px;
    width         : 50px;
}
