<nav class="navbar">
    <div class="navbar-container">
        <div class="brand">
            <a routerLink="/home">
                <img alt="logo" class="logo" id="logo" src="https://avatars.githubusercontent.com/u/89455522?s=96&v=4">
            </a>
            Jᴇғɪɴᴏ
        </div>
        <ul class="nav-list">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
        <div class="menu-icon" (click)="toggleMenu()">
            &#9776;
        </div>
    </div>
</nav>

<div id="overlay-menu" class="overlay-menu" [style.width]="menuWidth">
    <a href="javascript:void(0)" class="closebtn" (click)="toggleMenu()">&times;</a>
    <div class="overlay-content">
        <a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a>
        <a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">About</a>
        <a routerLink="/projects" routerLinkActive="active" (click)="toggleMenu()">Projects</a>
        <a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact</a>
    </div>
</div>
