<nav class="navbar">
  <div class="navbar-container">
    <div class="brand">
      <a routerLink="/home">
        <img id="logo" src="https://avatars.githubusercontent.com/u/89455522?s=96&v=4" alt="logo" class="logo">
      </a>
      Jᴇғɪɴᴏ
    </div>
    <ul class="nav-list">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
