@keyframes colorful {
    0% {
        filter : hue-rotate(0deg);
    }
    100% {
        filter : hue-rotate(360deg);
    }
}

*,
*::before,
*::after {
    appearance              : none;
    border-style            : none;
    box-sizing              : border-box;
    color                   : #ffffff;
    -webkit-font-smoothing  : antialiased;
    list-style              : none;
    margin                  : 0;
    -moz-osx-font-smoothing : grayscale;
    outline                 : none;
    padding                 : 0;
    text-decoration         : none;
}

h1, h2, h3, span, p {
    font-family : "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html,
body {
    height : 100%;
    width  : 100%;
}

body {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    overflow        : hidden;
    padding         : 2em;
    position        : relative;
}

body::-webkit-scrollbar {
    background : #020202;
    width      : 10px;
}

body::-webkit-scrollbar-track {
    background : #020202;
}

body::-webkit-scrollbar-thumb {
    background    : #ffffff;
    border-radius : 1px;
}

body::before {
    background : linear-gradient(45deg, #ee7752,);
    clip-path  : circle(30% at right 70%);
    content    : "";
    height     : 100%;
    left       : 0;
    position   : absolute;
    top        : 0;

    width      : 100%;
}

body::after {
    clip-path : circle(20% at 10% 10%);
    content   : "";
    height    : 100%;
    left      : 0;
    position  : absolute;
    top       : 0;
    width     : 100%;
}

body .container {
    align-items     : center;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : center;
    padding         : 1em;
    position        : relative;
    z-index         : 1;
}

.container {
    align-items     : center;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : center;
    padding         : 1em;
}

body .card .content {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    opacity         : 0.5;
    position        : relative;
    transition      : 0.5s;
}

body .card .content .img {
    border        : 10px solid rgba(0, 0, 0, 0.25);
    border-radius : 50%;
    height        : 150px;
    overflow      : hidden;
    position      : relative;
    width         : 150px;
}

body .card .content .img img {
    height   : 100%;
    left     : 0;
    position : absolute;
    top      : 0;
    width    : 100%;
}

body .card .content .cardContent h3 {
    color          : #fff;
    font-size      : 18px;
    font-weight    : 500;
    letter-spacing : 2px;
    line-height    : 1.1em;
    margin         : 20px 0 10px;
    text-align     : center;
    text-transform : uppercase;
}

body .card .content .cardContent h3 span {
    font-size      : 12px;
    font-weight    : 300;
    text-transform : initial;
}

body .card .sci {
    align-items     : center;
    bottom          : 50px;
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    position        : absolute;
}

body .card .sci li {
    margin           : 0 10px;
    opacity          : 0;
    transform        : translateY(40px);
    transition       : 0.5s;
    transition-delay : calc(0.1s * var(--i));
}

body .card .sci li a {
    font-size : 24px;
}

body .card:hover .content {
    opacity   : 1;
    transform : translateY(-20px);
}

body .card:hover .sci li {
    opacity   : 1;
    transform : translateY(0px);
}

.card {
    display     : grid;
    place-items : center;
}

.sci {
    display    : flex;
    list-style : none;
    padding    : 0;
}

.sci li {
    margin : 0 5px;
}
