<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jefino</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <style>
    .home {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .home h1 {
      font-family: 'Russo One', sans-serif;
    }
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
    .app-dev-card {
      animation: fadeIn 3s ease-in-out forwards;
    }
  </style>
</head>
<body>
<div class="home">
  <h1>
    <svg viewBox="0 0  ">
      <text x="10%" y="80%" text-anchor="inherit">WELCOME</text>
    </svg>
    <span>I am</span>
    <span style="color: #b9b9b9">Jᴇғɪɴᴏ</span>
    <span>no</span>
    <span>limits</span>
    <span>to</span>
    <span>what</span>
    <span>you</span>
    <span>can</span>
    <span>accomplish,</span>
    <span>except</span>
    <span>the</span>
    <span>limits</span>
    <span>you</span>
    <span>place</span>
    <span>on</span>
    <span>your</span>
    <span>own</span>
    <span>thinking.</span>
  </h1>
  <app-dev-card class="app-dev-card"/>
</div>
</body>
</html>
