<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jefino</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
</head>
<body>
<div class="home">
    <div id="head">
        <h1>
            <svg viewBox="0 0  ">
                <text text-anchor="middle" x="50%" y="50%">WELCOME</text>
            </svg>
            <span>To </span>
            <span>the </span>
            <span>realm </span>
            <span>of </span>
            <span>creativity </span>
            <span>and </span>
            <span>innovation, </span>
            <span>where </span>
            <span>every </span>
            <span>clicks </span>
            <span>unveils </span>
            <span>a </span>
            <span>new </span>
            <span>adventure</span></h1>
    </div>
</div>
</body>
</html>
