<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jefino</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <style>
        .home {
            align-items     : center;
            display         : flex;
            justify-content : space-between;
        }

        .home h1 {
            font-family : 'Russo One', sans-serif;
        }

        @keyframes fadeIn {
            from { opacity : 0; }
            to { opacity : 1; }
        }

        .app-dev-card {
            animation : fadeIn 3s ease-in-out forwards;
        }
    </style>
</head>
<body>
<div class="home">
    <h1>
        <svg viewBox="0 0  ">
            <text text-anchor="inherit" x="20%" y="80%">WELCOME</text>
        </svg>
        <span>to</span>
        <span>the</span>
        <span>realm</span>
        <span>of</span>
        <span>creativity</span>
        <span>and</span>
        <span>innovation,</span>
        <span>where</span>
        <span>every,</span>
        <span>clicks</span>
        <span>unveils</span>
        <span>a </span>
        <span>new </span>
        <span>adventure</span>
    </h1>
    <app-dev-card class="app-dev-card"/>
</div>
</body>
</html>
